
<div class="formacion">
    <h2>Formacion </h2>
    <ul>
        <li><h5>Estudio 1 - (duracion)</h5></li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate laudantium perspiciatis explicabo consectetur aperiam atque alias. In impedit accusantium, consequuntur debitis eligendi molestiae nesciunt ea, veritatis sequi voluptatem aspernatur mollitia.</p>

    </ul>
    
    <ul>
        <li><h5>Estudio 1 - (duracion)</h5></li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate laudantium perspiciatis explicabo consectetur aperiam atque alias. In impedit accusantium, consequuntur debitis eligendi molestiae nesciunt ea, veritatis sequi voluptatem aspernatur mollitia.</p>

    </ul>
    
    

</div>

