<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/perfil.png.jpg" alt="" class="img.fluid" id="fotodeperfil"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

        <p id="nombre">{{persona.nombre}}</p>
        <p>Full Stack Developer</p>


    </div >
    <div class="col-xs-12 col-sm-2 col-md-8 col-lg-8">

        <span>
            <h2>Mi Portafolio Web</h2>
    <p>Venezolano de corazón, residenciado en argentina desde el año 2019 en busca de un mejor futuro, actualmente me tope con el mundo de la programación y despertó en mi una motivación y vocación de querer crear e innovar.
     Me encuentro fortaleciendo mis Skills con mira a incursionar en una empresa vanguardista y con enfoque en metodologías de trabajo ágiles.</p>


        </span>

    </div >

</div>
